.login {
  background: url(../../public/images/heropic2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: grid;
  height: calc(100vh - 4rem);
  grid-template-columns: [main-start]1fr [content-start]1fr [content-end]1fr [main-end];
  grid-template-rows:
    [main-start]minmax(auto, 1fr) [content-start]auto [content-end]minmax(
      auto,
      1fr
    )
    [main-end];
  &:after {
    content: "";
    position: absolute;
    top: 4rem;
    left: 0;
    height: calc(100vh - 4rem);
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
  }
  form {
    z-index: 20;
    grid-area: content;
    border: 2px solid rgba(255, 165, 0.5);
    border-radius: 15px;
    padding: 4rem;
    font-weight: 500;
    text-align: center;
    // box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.25);
    box-shadow: -1px 4px 28px 0px rgba(0, 0, 0, 0.75);
    background: rgba(255, 255, 255, 0.04);
    color: white;
    p:nth-of-type(1) {
      font-size: 2rem;
      margin-bottom: 3rem;
    }
    input {
      width: 80%;
      height: 2.5rem;
      margin-block: 1.5rem;
      border: 1px solid grey;
      border-radius: 10px;
      box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
      background: rgba(255, 255, 255, 0.94);
      padding: 0.5rem;
      &:focus {
        border-color: orange;
        outline: none;
      }
    }
    button {
      width: 60%;
      height: 2.5rem;
      border-radius: 10px;
      border: 1px solid orange;
      background-color: orange;
      color: white;
      font-size: 1rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }
  }
  a {
    color: darkcyan;
    margin-left: 0.5rem;
  }
}
