.form-bg {
  background: url(../../public/images/heropic2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  .form-wrap {
    display: grid;
    grid-template-columns: [main-start]1fr [content-start]1fr [content-end]1fr [main-end];
    grid-template-rows:
      [main-start]minmax(auto, 1fr) [content-start]auto [content-end]minmax(
        auto,
        1fr
      )
      [main-end];
    background: rgba(0, 0, 0, 0.7);
    min-height: 100vh;
  }
}
